.dashboard-container {
  padding: 30px;
}

h1 {
  color: #222;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card h3 {
  color: #555;
}

.card p {
  font-size: 40px;
  font-weight: bold;
  color: #1976d2;
}

button {
  margin-left: 50px;
  margin-top: 25px;
  width: auto;

  padding: 12px;

  background: #2563eb;
  color: white;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}


button:hover {
  background: #1d4ed8;
}