.container {
  width: 450px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;

  box-shadow: 0 5px 15px rgba(0,0,0,.15);
}


h1 {
  text-align: center;
  margin-bottom: 25px;
}


label {
  display: block;
  margin-top: 15px;
  color: #555;
}


input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;

  border: 1px solid #ccc;
  border-radius: 8px;
}


button {
  margin-top: 25px;
  width: 100%;

  padding: 12px;

  background: #2563eb;
  color: white;

  border: none;
  border-radius: 8px;
  width: auto;
  cursor: pointer;
}


button:hover {
  background: #1d4ed8;
}

.btn-gestion{
    display: flex;
    justify-content: center;
}